<mat-card class="card-container">

    <img src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}" alt="{{ character.name }}" class="mat-card-image" />

    <mat-card-title>{{ character.name }}</mat-card-title>

    <mat-card-footer class="footer-card">

        <mat-list>
            <mat-list-item>
                <a (click)="getComics(character.id)" target="_blank" fxFlex mat-flat-button color="primary">
                    <mat-icon>library_books</mat-icon>Quadrinhos</a>
            </mat-list-item>
            <mat-list-item>
                <a (click)="getSeries(character.id)" target="_blank" fxFlex mat-flat-button color="primary">

                    <mat-icon>live_tv</mat-icon>Séries</a>
            </mat-list-item>
            <mat-list-item>
                <a (click)="getStories(character.id)" target="_blank" fxFlex mat-flat-button color="primary">
                    <mat-icon>label_important</mat-icon>Histórias</a>
            </mat-list-item>
            <mat-list-item>
                <a (click)="getEvents(character.id)" target="_blank" fxFlex mat-flat-button color="primary">
                    <mat-icon>event_note</mat-icon>Eventos</a>
            </mat-list-item>
        </mat-list>

    </mat-card-footer>

</mat-card>